<div class="home__container">
    <app-card
        gameCover="assets/hfw.avif"
        gameLabel="Exclusivo"
        gameSt="Disponível Agora"
        gamePrice="R$ 149,90"
        gameType="Digital | PS4 | PS5"
         >
    </app-card>
    <app-card
        gameCover="assets/lof.avif"
        gameLabel="Novidade"
        gamePrice="R$ 299,99"
        gameType="Digital | PS5"
        >
    </app-card>
    <app-card
        gameCover="assets/fc24.avif"
        gameLabel="Novidade"
        gamePrice="R$ 349,99"
        gameType="Digital | PS4 | PS5"
        >
    </app-card>
    <app-card
        gameCover="assets/spider-man-2.avif"
        gameLabel="Exclusivo"
        gameSt="Pré Venda"
        gamePrice="R$ 399,99"
        gameType="Digital | PS5"
        >
    </app-card>
    <app-card
        gameCover="assets/gtr7.webp"
        gameLabel="Exclusivo"
        gamePrice="R$ 179,99"
        gameType="Digital | PS4 | PS5"
        >
    </app-card>
    <app-card
        gameCover="assets/rl.avif"
        gameLabel="Popular"
        gamePrice="Grátis"
        gameType="Digital | PS4 | PS5"
        >
    </app-card>
    <app-card
        gameCover="assets/er.webp"
        gameLabel="Mais vendidos"
        gamePrice="R$ 189,99"
        gameType="Digital | PS4 | PS5"
        >
    </app-card>
    <app-card
        gameCover="assets/rd2.jfif"
        gameLabel="Promoção"
        gamePrice="R$ 129,90"
        gameType="Digital | PS4 | PS5"
        >
    </app-card>
  </div> 



 



